/* ---- Global Styles ---- */
:root {
  --primary-dark: #DB4457;
  --primary: #f99072;
  --primary-light: #FED7B9;
  --gray: #06070B;
  --gray-light: #344852;
}

html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  background: #1D2026;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  margin: 0;
}

section {
  margin-bottom: 80px;
}

section h2 {
  text-align: center;
  margin-bottom: 24px;
  padding: 24px 0px;
  border-bottom: 1px solid var(--primary-dark);
}

/* ---- Navbar ---- */
nav img {
  height: 24px;
}

nav h1 {
  font-size: 24px;
}

.navbar {
  padding: 8px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

/* ---- About us section ---- */
#about-us-section .icon-container {
  background: var(--gray-light);
  border-radius: 36px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

#about-us-section .icon-container i {
  background: -webkit-linear-gradient(left, var(--primary), var(--primary-light));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about-us-section .row > .col-12:nth-child(odd) .icon-container {
  margin-bottom: 8px;
}

#about-us-section .row > .col-12:nth-child(even) .icon-container {
  margin-top: 8px;
}

/* ---- Highlights section ---- */
#highlights-section h4 {
  margin-bottom: 12px;
}

#highlights-section .card {
  cursor: pointer;
  height: 100%;
}

#highlights-section img {
  min-height: 240px;
}

#highlights-section .card-body {
  padding: 24px;
  background: var(--gray-light);
}

#contact-section h2 {
  border-bottom: none;
  margin-bottom: 0;
  padding: 0;
  margin-right: 8px;
}

#contact-section > .d-flex {
  text-align: center;
  margin-bottom: 24px;
  padding: 24px 0px;
  border-bottom: 1px solid var(--primary-dark);
}

/* ---- Footer ---- */
footer {
  background: linear-gradient(to right, var(--primary-dark) 0%, var(--primary-light) 100%);
  padding: 8px 0px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer i {
  font-size: 32px;
}

footer i:not(:last-child) {
  margin-right: 12px;
}

/* ---- Bootstrap ---- */
.tooltip-inner {
  background: white;
  color: black;
}

.bs-tooltip-top .tooltip-arrow:before {
  border-top-color: white !important;
}

.bs-tooltip-bottom .tooltip-arrow:before {
  border-bottom-color: white !important;
}

.bs-tooltip-start .tooltip-arrow:before {
  border-left-color: white !important;
}

.bs-tooltip-end .tooltip-arrow:before {
  border-right-color: white !important;
}

.btn-primary {
  background: var(--primary) !important;
  border: 1px solid var(--primary-light) !important;
}

.btn-primary:hover {
  background: var(--primary-dark) !important;
}

.btn-secondary {
  background: white !important;
  color: var(--gray) !important;
}

.btn-secondary:hover {
  background: #e6e6e6 !important;
}

.toast {
  color: var(--gray) !important;
}
